<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <style>
    table, tr, td, th {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
    }
  </style>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <td th:text="${board.id}"></td>
  </tr>
  <tr>
    <th>title</th>
    <td th:text="${board.boardTitle}"></td>
  </tr>
  <tr>
    <th>writer</th>
    <td th:text="${board.boardWriter}"></td>
  </tr>
  <tr>
    <th>date</th>
    <td th:text="${board.createdAt}"></td>
  </tr>
  <tr>
    <th>hits</th>
    <td th:text="${board.boardHits}"></td>
  </tr>
  <tr>
    <th>contents</th>
    <td th:text="${board.boardContents}"></td>
  </tr>
  <tr th:if="${board.fileAttached == 1}">
    <td th:each="boardFile: ${boardFileList}">
    <!--<th>image</th>-->
    <!-- 07.29 단일 이미지 업로드 시 처리 코드 -->
    <!--<td th:if="${boardFile}">-->
    <!-- 07.29 최종 완성본. 현재는 주석처리하기 -->
        <img th:src="@{|/upload/${boardFile.storedFileName}|}" alt="" width="200" height="200">
    </td>
  </tr>
</table>
<button onclick="listReq()">목록</button>
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>
</body>
<script th:inline="javascript">
  const listReq = () => {
    location.href = "/list";
  }
  // 0727 업데이트 함수
  const updateReq = () => {
    //              주소 요청 `(백틱 문자)
    location.href = `/update/[[${board.id}]]`;
  }
  //0727 deleteReq branch 형식 작업 및 테스트
  const deleteReq = () => {
    location.href = `/delete/[[${board.id}]]`;
  }
</script>
</html>